{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue Octopus</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!--  <link rel="stylesheet" href="https://unpkg.com/98.css"> -->
    <script src="https://unpkg.com/htmx.org"></script> <!-- htmx library -->
    <title>{{template "title" .}} - Snippetbox</title>
</head>
<body>
    <main>
        {{template "main" .}}
    </main>
    <footer>
        Copywrite 2024  Blue Octopus
    </footer>
</body>
</html>
{{ end  }}
