{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{template "title" .}}</title>
    
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.sand.min.css"
  /> <!-- PICO Css -->
  <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
    <script src="/static/js/htmx.min.js"></script> <!-- htmx.js -->
</head>
<body>
    <header>
        <nav class="container-fluid">
            <ul>
                <li><a href="/"><strong>SessionsDev</strong></a></li>
            </ul>
            <ul>
                <li><a href="/game">Ai Adventure</a></li>
                <li><a href="https://github.com/sessionsdev">My GitHub</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        {{template "main" .}}
    </main>
</body>
</html>
{{ end  }}
