{{ define "title" }}AI Adventures{{ end }}

{{ define "main" }}
<h1>AI Adventures</h1>
<section>
    <div class="game-container"> <!-- This div wraps game output and state panel for side-by-side layout -->
        <article class="game-output overflow-auto" id="game-output">
            <p>
                You are standing in an open field west of a blue house, with a boarded front door. There is a small mailbox here.
            </p>
        </article>
        <article class="stats-panel" id="game-state-panel" hx-get="/game/stats-display" hx-trigger="every 3s" hx-swap="innerHTML">
            <p>Welcome to Adventure AI.  A text based Adventure Game</p>
        </article>
    </div> <!-- End of game-area div -->
    <form 
    hx-post="/game/process-command" 
    hx-target="#game-output" 
    hx-swap="beforeend scroll:bottom" 
    hx-on::before-request="this.reset()"
    >
        <fieldset role="group">
        <input type="text" name="command" id="command-input" placeholder="Enter your command (Go to {LOCATION}, Take {ITEM}, Attack {ENEMY}....)" autocomplete="off">
        <button type="submit">Send</button>
        </fieldset>
    </form>
</section>
<section>
    <p>
        Tips: Try to go to the house, take the key, and unlock the door.  Then go inside and explore.
    </p>
</section>
{{end}}