{{ define "title" }}AI Adventures{{ end }}

{{ define "main" }}
<h1>AI Adventures</h1>
<section>
    <div class="game-container"> <!-- This div wraps game output and state panel for side-by-side layout -->
        <article class="game-output overflow-auto" id="game-output">
            <p>
                You are standing in an open field west of a blue house, with a boarded front door. There is a small mailbox here.
            </p>
        </article>
        <article class="stats-panel" id="game-state-panel" hx-get="/game/stats-display" hx-trigger="every 3s" hx-swap="innerHTML">
            <p>Welcome to Adventure AI.  A text based Adventure Game</p>
        </article>
    </div> <!-- End of game-area div -->
    <form 
    hx-post="/game/process-command" 
    hx-target="#game-output" 
    hx-swap="beforeend scroll:bottom" 
    hx-on::before-request="this.reset()"
    >
        <fieldset role="group">
        <input type="text" name="command" id="command-input" placeholder="Enter your command (Go to {LOCATION}, Take {ITEM}, Attack {ENEMY}....)" autocomplete="off">
        <button type="submit">Send</button>
        </fieldset>
    </form>
</section>
<section>
    <h2>What is this?</h2>
    <p>
        This is a text based adventure game in the spirit of games like Zork and Colossal Cave Adventure.  The game is driven by the openAI api and the gpt models.  The idea is that the llm will generate the game world and the narrative on the fly.  The game is a work in progress and is being developed as a learning project.  The game is written in Go and the front end is a mix of htmx and html templates.
    </p>
    <h2>How To Play</h2>
    <p>
        Simply input a prompt describing your characters action in response to the game world.  Your command will be parsed and routed to the AI "game masters" who will generate a response.
    </p>
    <p>
        For example, you could type "Go to the house" or "Take the sword" or "Attack the dragon".  The game will respond with a narrative of what happens next and will update the game state.  Both the narrative response and the game state are managed by the AI, and are therefore prone to errors and narrative inconsistencies.  This will be ironed out with fine tuning over time.
    </p>
    
</section>
{{end}}