{{define "title"}}Home{{end}}

{{define "main"}}
<div class="profile">
    <h1>Jon Sessions - Backend Web Developer</h1>
    <p>Specializing in Java/Kotlin and Python for robust web solutions</p>
    
    <section class="expertise">
        <h2>Professional Focus</h2>
        <p>Dedicated to backend development using Java and Kotlin. 
            Experienced in Go and Python for a comprehensive backend server offering. </p>
    </section>

    <section class="skills">
        <h2>Technical Skills</h2>
        <p>Alongside my main expertise, I'm skilled in JavaScript for server-side testing, Bash for scripting, and Golang for project enhancement. Proficient in building asynchronous systems, managing databases, and developing APIs for various uses.</p>
    </section>

    <section class="projects">
        <h2>Projects & Technologies</h2>
        <p>Experienced in implementing SQS, Redis, and spreadsheet features. My portfolio includes developing caching layers, robust testing suites, and third-party integrations. I work with a variety of databases and have built both documented and internal-use APIs.</p>
    </section>

    <section class="mentorship">
        <h2>Mentoring Experience</h2>
        <p>As a mentor for coding bootcamp students, I focus on instilling best practices, effective problem-solving skills, and a deep understanding of design patterns.</p>
    </section>

    <section class="contact">
        <h2>Get in Touch</h2>
        <p>Interested in my development services or mentorship? Feel free to reach out to discuss potential projects or collaborations.</p>
        <!-- You can add a contact form or email link here -->
    </section>
</div>


{{end}}
