{{define "title"}}SessionsDev{{end}}

{{define "main"}}
<h1>I'm Jon Sessions</h1>
<p>I'm a software engineer specializing in backend web systems.</p>
<p>Currently working in the ad-tech space for <a href="https://www.mediaocean.com/">MediaOcean</a></p>
<p>I write a lot of code; Mostly in Kotlin or Go.</p>
<p>This site (<a href="https://github.com/sessionsdev/blue-octopus">see the code on my github</a>) is written with Go and some htmx.</p>
<p>Take a look at this <a href="/game">AI Text Adventure Game</a> </p>
<a href="mailto:jon@sessionsdev.com">Send me an email</a> or <a href="https://www.linkedin.com/in/jonsessions/">Connect on LinkedIn</a>
{{end}}
