{{define "title"}}SessionsDev{{end}}

{{define "main"}}
<div>
    <hgroup>
        <h1>Jon Sessions</h1>
        <h4>Backend Web Developer</h4>
    </hgroup>
    <section>
        <h2>Professional Focus</h2>
        <p>Dedicated to backend development using Java and Kotlin. Experienced in Go and Python for a comprehensive backend server offering. </p>
    </section>
    <section>
        <h2>Projects & Technologies</h2>
        <p>Experienced in implementing SQS, Redis, and spreadsheet features. My portfolio includes developing caching layers, robust testing suites, and third-party integrations. I work with a variety of databases and have built both documented and internal-use APIs.</p>
    </section>

    <section>
        <h2>Mentoring Experience</h2>
        <p>As a mentor for coding bootcamp students, I focus on instilling best practices, effective problem-solving skills, and a deep understanding of design patterns.</p>
    </section>

    <section>
        <h2>Get in Touch</h2>
        <p>Interested in my development services or mentorship? Feel free to reach out to discuss potential projects or collaborations.</p>
        <!-- You can add a contact form or email link here -->
    </section>
</div>
{{end}}
