{{define "title"}}Login{{end}}

{{define "main"}}
<div class="container">
    <h1>Login</h1>
    <form hx-post="/api/authorize" >
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="mailto:jon@sessionsdev.com">Send me an email to request one.</a></p>
</div>
{{end}}